<html>
  <style>
    body{ 
      background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/retina_wood.png");
      background-position: left top;
      background-size: 1200px 800px;
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Add a New Book</h1>


<form method="POST" action="/addbook">
<p>ISBN: <input type="text" name="ISBN"></p>
<p>Language: <input type="text" name="language"></p>
<p>Title: <input type="text" name="Title"></p>
<p>Price: <input type="text" name="Price"></p>
<p>Publication Company: <input type="text" name="pub_name"></p>
<p>Category: <input type="text" name="category"></p>
<p>Year: <input type="text" name="book_year"></p>
<p><input type="submit" value="Add"></p>

</form>

</body>

</html>
